.hero {
  background-image: url(/goit-markup-hw-08/images/background/hero-mobile2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 400px;
  background-position: center;
  padding-top: 80px;
  background-position: 50% 50%;
  max-width: 1600px;
  margin: 0 auto;

  &__container {
    margin-top: 40px;
    text-align: center;
  }

  &__header {
    padding: 0 57px;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;
  }

  &__button {
    margin-top: 40px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 0.6;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    color: $white;
    background-color: $purple;
    box-shadow: 0px 4px 4px #00000026;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition-property: transform, color, background-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.1);
      color: $purple;
      background-color: $white;
    }
  }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
background-image: url(/goit-markup-hw-08/images/background/hero-mobile2x.jpg);
}
}

@media (min-width: 768px) {
  .hero {
    height: 400px;
background-image: url(/goit-markup-hw-08/images/background/hero-tablet.jpg);
  }
@media (min-width: 768px) and (min-device-pixel-ratio: 2),
(min-width: 768px) and (min-resolution: 192dpi),
(min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
  background-image: url(/goit-markup-hw-08/images/background/hero-tablet2x.jpg);
}
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 600px;
    justify-content:center;
background-image: url(/goit-markup-hw-08/images/background/hero-desctop.jpg);
  }
@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-width: 1200px) and (min-resolution: 192dpi),
  (min-width: 1200px) and (min-resolution: 2dppx) {
    .hero {
  background-image: url(/goit-markup-hw-08/images/background/hero-desctop2x.jpg);
}
}
}

